# Data Science Tools and Ecosystem

This notebook provides a summary of the Data Science Tools and Ecosystem.

**Objectives**
* List popular languages for Data Science.
* Create a Jupyter Notebook with markdown and code cells
* List the commonly used libraries in Data Science 
* List the development environment open source tools used in data science.
* Evaluate Basic arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:

2 + 2;
3 - 1;
4 + 3

In [5]:
#This is a basic arithmetic expression involving the multiplication of integers followed by addition.
(3*4)+5

17

In [6]:
#This expression  will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Lesedi Machwane